<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>AngularJS_01</title>
    <script src="js/angular.min.js"></script>
</head>
<body>
    <ul ng-init="list=[200,40,11,908]">
        <li ng-repeat="tmp in list">{{tmp}}</li>
    </ul>
    <ol>
            <li ng-repeat="(key,value) in list">{{"key is "+key+" value is "+value}}</li>
    </ol>
    <span ng-init="car={name:'BWM',price:30}"></span>
    <div>
        <a ng-repeat="tmp in car">{{tmp}}</a>
    </div>


</body>
</html>