<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>AngularJS_ng-if_demo</title>
    <script src="js//angular.min.js"></script>
</head>
<body>
<table
        ng-init="stuList=[
    {name:'Lucy',sex:'female',score:80},
    {name:'Lily',sex:'female',score:80},
    {name:'Lary',sex:'female',score:50},
    {name:'Lawson',sex:'female',score:70}
    ]">
    <thead>
    <tr>
        <th>姓名</th>
        <th>性别</th>
        <th>成绩</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="obj in stuList" ng-if="obj.score > 60">
        <td ng-repeat="tmp in obj">{{tmp}}</td>
    </tr>
    </tbody>
</table>

</body>
</html>