<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>vue指令：v-if</h3>
<div id="app">
    {{message}}
    <h3 v-if="yes">yes</h3>
    <h3 v-if="no">no</h3>
    <h3 v-if="age>28">age:{{age}}</h3>
    <h3 v-if="name.indexOf('o')>=0">name:{{name}}</h3>
</div>
<script src="../js/vue.js"></script>
<script>
    var exampleData={
        message:"Hello vue",
        yes:true,
        no:false,
        age:28,
        name:"lion"
    };
    new Vue({
        el:"#app",
        data:exampleData
    });
</script>
</body>
</html>