<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>vue指令：v-for</h3>
<div id="app">
    <ul>
        <li>{{myList[0]}}</li>
        <li>{{myList[1]}}</li>
        <li>{{myList[2]}}</li>
        <li>{{myList[3]}}</li>
        <li>{{myList[4]}}</li>
    </ul>
    <hr/>
    <ul>
        <li v-for="item in myList">
            {{item}}
        </li>
    </ul>
    <hr/>
    <ul>
        <li v-for="(value,key) in myList">
            {{"key is"+key+",value is "+value}}
        </li>
    </ul>
</div>
<script src="../js/vue.js"></script>
<script>
    var exampleData={
        myList:[101,102,103,104,105],
        message:"Hello vue",
        yes:true,
        no:false,
        age:24,
        name:"lion"
    };
    new Vue({
        el:"#app",
        data:exampleData
    });
</script>
</body>
</html>